PrototypingProject/Library/metadata/
PrototypingProject/Temp/
PrototypingProject/Library/ShaderCache/
PrototypingProject/Library/StateCache/
PrototypingProject/obj/Debug/
PrototypingProject/PrototypingProject.sln
PrototypingProject/Library/
PrototypingProject/.vs/
PrototypingProject/ProjectSettings/
PrototypingProject/Assembly-CSharp.csproj
